{% extends 'base.html.twig' %}

{% form_theme contactForm 'bootstrap_4_layout.html.twig' %}




{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/formContact.css') }}" />
{% endblock %}
{% block body %}




<div class="form">

{% if succeed  == 'true' %}

    <div  class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endif %}

{% if succeed  == 'false' %}

    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endif %}

    <div class="head">
        
        <h1> CONTACT</h1>

    </div>

    <div class="corps">   
        
        {{ form_start(contactForm) }}
        
        {{ form_row(contactForm.email, {'attr': {'placeholder': "Veuilez renseigner votre adresse mail ici"}}) }}
        
        {{ form_row(contactForm.object, {'attr': {'placeholder': "Veuilez entrer l\'objet de votre mail ici"}}) }}
        
        {{ form_row(contactForm.message, {'attr': {'placeholder': "Entrez votre message ici ..."}}) }}
        
        <button type="submit" class= "btn btn-success">Envoyer</button>
        
        {{ form_end(contactForm) }}
        
    </div> 
</div>

{% endblock %}